<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.samplejr.dao.mybatis.mappers.CategoriaMapper">

    <select parameterType="map" id="consultarCategorias" resultMap="CategoriaResult" >
        SELECT 
            c.ID as id,
            c.NOMBRE as nombre,
            c.DESCRIPCION as descripcion,
            c.FECHACREACION as fCreacion ,
            c.ESTADO as estado ,
            c.FECHAMODIFICACION as fModificacion
        FROM CATEGORIA as c
    </select>

    <select parameterType="map" id="consultarCategoria" resultMap="CategoriaResult">
        SELECT
            c.ID as id,
            c.NOMBRE as nombre,
            c.DESCRIPCION as descripcion,
            c.FECHACREACION as fCreacion ,
            c.ESTADO as estado ,
            c.FECHAMODIFICACION as fModificacion
        FROM CATEGORIA as c
        WHERE c.ID = #{id};
    </select>

    <select parameterType="map" id="consultarCategoriaNombre" resultMap="CategoriaResult">
        SELECT
            c.ID as id,
            c.NOMBRE as nombre,
            c.DESCRIPCION as descripcion,
            c.FECHACREACION as fCreacion ,
            c.ESTADO as estado, 
            c.FECHAMODIFICACION as fModificacion
        FROM CATEGORIA as c
        WHERE c.NOMBRE = #{nombre};
       </select>
    
    <insert id="agregarCategoria">
            INSERT INTO Categoria (ID, NOMBRE, DESCRIPCION, FECHACREACION, ESTADO)
            VALUES (#{nombre},#{descripcion});
    </insert>
    
    
    
    <update id="modificarCategoria">
        UPDATE CATEGORIA as c SET
            c.NOMBRE = #{nombre},
            c.DESCRIPCION = #{descripcion},
            c.ESTADO = #{estado},
            c.FECHAMODIFICACION = CURRENT_TIMESTAMP
        WHERE c.ID = #{id};
    </update>
    
    <delete id = "borrarCategoria">
    	DELETE FROM CATEGORIA as c
    	WHERE c.ID = #{id};
    </delete>

    <resultMap type = "Categoria" id="CategoriaResult">
        <id property="id" column="id"/>
        <result property="nombre" column="nombre"/>
        <result property="descripcion" column="descripcion"/>
        <result property="fechaCreacion" column="fCreacion"/>
        <result property="estado" column="estado"/>
        <result property="fechaModificacion" column="fModificacion"/>
    </resultMap>

</mapper>