<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<Mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.NecesidadMapper">
    <select parameterType="map" id="consultarNecesidades" resultMap="ReportesNecesidadesResult">
        SELECT 
            n.id as id
            n.nombre as nombre
            n.categoria as categoria
            n.descripcion as descripcion 
            n.fechaCreacion as fCreacion
            n.urgencia as urgencia
            n.esatdo as estado
            n.fechaModificacion as fModificacion
            u.nombre as usuario
        FROM Necesidad as n
        LEFT JOIN Usuario as u ON u.id = o.usuario
        GROUP BY n.estado
    </select>
    
    <select parameterType="map" id="consultarNecesidades" resultMap="NecesidadResult">
        SELECT 
            n.id as id
            n.nombre as nombre
            n.categoria as categoria
            n.descripcion as descripcion 
            n.fechaCreacion as fCreacion
            n.urgencia as urgencia
            n.esatdo as estado
        FROM Necesidad as n
        WHERE n.categoria = #{categoria};
    </select>
    
    <select parameterType="map" id="consultarNecesidad" resultMap="NecesidadResult">
        SELECT 
            n.id as id
            n.nombre as nombre
            n.categoria as categoria
            n.descripcion as descripcion 
            n.fechaCreacion as fCreacion
            n.urgencia as urgencia
            n.estado as estado
        FROM Necesidad as n
        WHERE n.id = #{id};
    </select>
    
    <insert id = "addNecesidad">
        INSERT INTO Necesidad (nombre, categoria, descripcion, fechaCreacion, urgencia)
        VALUES (#{nombre},#{categoria},#{descripcion},CURRENT_TIMESTAMP,#{urgencia});
    </insert>
    
    <update id = "actualizarEstado">
        UPDATE Necesidad SET
            n.estado = #{estado}
        WHERE n.id = #{id};
    </update>
    
    <resultMap type="Necesidad" id="NecesidadResult">
        <id property="id" column="id"/>
        <result property = "categoria" column="categoria"/>
        <result property = "nombre" column = "nombre"/>
        <result property = "descripcion" column = "descripcion"/>
        <result property = "fechaCreacion" column = "fCreacion"/>
        <result property = "urgencia" column = "urgencia"/>
        <result property = "estado" column = "estado"/>
    </resultMap>
    
    <resultMap type="Necesidad" id="ReporteNecesidadResult">
        <id property="id" column="id"/>
        <result property = "categoria" column = "categoria"/>
        <result property = "nombre" column = "nombre"/>
        <result property = "descripcion" column = "descripcion"/>
        <result property = "fechaCreacion" column = "fCreacion"/>
        <result property = "estado" column = "estado"/>
        <result property = "fechaModificacion" column = "fModificacion"/>
        <association property = "usuario" javaType = "Usuario">
            <result property = "usuario" column = "usuario"/>
        </association>
    </resultMap>
    
</Mapper>
        