<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/XML/XMLDocument.xml to edit this template
-->
<mapper namespace="edu.eci.cvds.samplejr.dao.mybatis.mappers.OfertaMapper">
    
    <insert id="addOferta">
        INSERT INTO ACTIVIDAD (CATEGORIA, NOMBRE, DESCRIPCION, USUARIO, ACTIVIDAD)
        VALUES (#{categoria},#{nombre},#{descripcion},#{usuario},'OFERTA');
        
        INSERT INTO OFERTA (ACTIVIDAD)
        VALUES (#{nombre});
    </insert>
    <!--ARREGLAR MAPPER DE AÑADIR OFERTA DE ACUERDO AL MAPPER DE JAVA-->
    
    <select parameterType="map" id="consultarOfertas" resultMap="OfertaResult">
        SELECT 
            o.id as id,
            a.nombre as nombre,
            a.categoria as categoria,
            a.descripcion as descripcion ,
            a.estado as estado,
            a.fechaCreacion as fCreacion,
            a.fechaModificacion as fModificacion,
            u.nombre as usuario
        FROM Actividad as a
        LEFT JOIN Usuario as u ON u.login = a.usuario
        LEFT JOIN Oferta as o ON a.nombre = o.actividad
        WHERE a.actividad = 'OFERTA'
    </select> 
    
    <select parameterType="map" id="ConsultarOfertasXcategoria" resultMap="OfertaResult">
        SELECT 
            o.id as id,
            a.nombre as nombre,
            a.categoria as categoria,
            a.descripcion as descripcion ,
            a.estado as estado,
            a.fechaCreacion as fCreacion,
            a.fechaModificacion as fModificacion,
            u.nombre as usuario
        FROM Actividad as a
        LEFT JOIN Usuario as u ON u.login = a.usuario
        LEFT JOIN Oferta as o ON a.nombre = o.actividad
        WHERE a.actividad = 'OFERTA' AND
              a.categoria = #{categoria};
    </select> 
    
    <select parameterType="map" id="consultarOferta" resultMap="OfertaResult">
        SELECT 
            o.id as id,
            a.nombre as nombre,
            a.categoria as categoria,
            a.descripcion as descripcion ,
            a.estado as estado,
            a.fechaCreacion as fCreacion,
            a.fechaModificacion as fModificacion,
            u.nombre as usuario
        FROM Actividad as a
        LEFT JOIN Usuario as u ON u.login = a.usuario
        LEFT JOIN Oferta as o ON a.nombre = o.actividad
        WHERE a.nombre = #{Oferta}
    </select>
    
    <update id = "actualizarEstado">
        UPDATE ACTIVIDAD 
        SET
            estado = #{estado}
        WHERE nombre = #{oferta};
    </update>
    
    <delete id="deleteOferta">
        DELETE FROM ACTIVIDAD as a
        WHERE a.nombre = #{oferta};
    </delete>
    
    <resultMap type="Oferta" id="OfertaResult">
        <id property="id" column="id"/>
        <result property="categoria" column="categoria"/>
        <result property="nombre" column="nombre"/>
        <result property="descripcion" column="descripcion"/>
        <result property="fechaCreacion" column="fCreacion"/>
        <result property="estado" column="estado"/>
        <result property="fechaModificacion" column="fModificacion"/>
        <result property="usuario" column="usuario"/>
    </resultMap>
    
    <resultMap type="Oferta" id="ResultadoOfertasResult">
        <id property="id" column="id"/>
        <result property="categoria" column="categoria"/>
        <result property="nombre" column="nombre"/>
        <result property="descripcion" column="descripcion"/>
        <result property="fechaCreacion" column="fCreacion"/>
        <result property="estado" column="estado"/>
        <result property="fechaModificacion" column="fModificacion"/>
    </resultMap>
    
    
</mapper>
