<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.samplejr.dao.mybatis.mappers.UsuarioMapper">
    <select parameterType="map" id="consultarUsuarios" resultMap="UsuarioResult">
        SELECT
            u.ID as id,
            u.NOMBRE as nombre,
            u.ROL as rol,
            u.CORREO as correo,
            u.PASSWORD as contraseña,
            u.LOGIN as login
        FROM USUARIO as u;
    </select>

     <select parameterType="map" id="consultarCantidadNecesidades" resultMap="cantidadResult">
        SELECT 
            COUNT(*) as solicitadas
        FROM Actividad as a
        WHERE a.actividad = 'NECESIDAD'
            AND a.usuario = #{nombreUsuario};
    </select>
    
    <select parameterType="map" id="consultarCantidadOfertas" resultMap="cantidadResult">
        SELECT 
            COUNT(*) as ofrecidas
        FROM Actividad as a
        WHERE a.actividad = 'OFERTA'
            AND a.usuario = #{nombreUsuario};
    </select> 
    
    <select parameterType="map" id="consultarUsuario" resultMap="UsuarioResult">
        SELECT
            u.NOMBRE as nombre,
            u.ROL as rol,
            u.CORREO as correo,
            u.PASSWORD as contraseña,
            u.LOGIN as login
        FROM USUARIO as u
        WHERE u.LOGIN = #{LOGIN};
    </select> 
    
    <insert id="ingresarUsuario">
        INSERT INTO Usuario (NOMBRE, ROL, CORREO, PASSWORD, LOGIN)
        VALUES (#{NOMBRE},#{ROL},#{CORREO},#{PASSWORD},#{LOGIN});
        
    </insert>
    
    <delete id="deleteUsuario">
        DELETE FROM Usuario as u
        WHERE u.LOGIN = #{LOGIN} and u.PASSWORD = #{PASSWORD};
    </delete>

    <resultMap type="Usuario" id="cantidadResult">
        <result property="ofrecidas" column = "ofrecidas" />
        <result property = "solicitadas" column = "solicitadas"/>
    </resultMap>
    
    <resultMap type="Usuario" id="UsuarioResult">
        <id property="id" column="id"/>
        <result property="nombre" column="nombre" />
        <result property="rol" column="rol"/>
        <result property="correo" column="correo"/>
        <result property="password" column="contraseña"/>
        <result property="login" column="login"/>
    </resultMap>
</mapper>