<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.samplejr.dao.mybatis.mappers.UsuarioMapper">
    <select parameterType="map" id="consultarUsuarios" resultMap="UsuarioResult">
        SELECT
            u.NOMBRE as nombre,
            u.PERFIL as perfil,
            u.CORREO as correo,
            u.PASSWORD as contraseña,
            u.LOGIN as login
        FROM USUARIO as u;
    </select>
    
    <select parameterType="map" id="consultarUsuario" resultMap="UsuarioResult">
        SELECT
            u.NOMBRE as nombre,
            u.PERFIL as perfil,
            u.CORREO as correo,
            u.PASSWORD as contraseña,
            u.LOGIN as login
        FROM USUARIO as u
        WHERE u.LOGIN = #{LOGIN};
    </select> 
    
    <insert id="ingresarUsuario">
        INSERT INTO Usuario (ID, NOMBRE, PERFIL, CORREO, PASSWORD, LOGIN)
        VALUES (#{ID}, #{NOMBRE},#{PERFIL},#{CORREO},#{PASSWORD},#{LOGIN});
        
    </insert>
    
    <delete id="deleteUsuario">
        DELETE FROM Usuario as u
        WHERE u.id = #{ID};
    </delete>
 
    <resultMap type="Usuario" id="UsuarioResult">
        <id property="nombre" column="nombre"/>
        <result property="perfil" column="perfil"/>
        <result property="correo" column="correo"/>
        <result property="password" column="contraseña"/>
        <result property="login" column="login"/>
    </resultMap>
</mapper>