<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.CategoriaMapper">

    <select parameterType="map" id="consultarCategorias" resultMap="CategoriaResult" >
        SELECT 
            c.id as id,
            c.nombre as nombre,
            c.descripcion as descripcion,
            c.fechaCreacion as fCreacion ,
            c.estado as estado ,
            c.fechaModificacion as fModificacion
        FROM Categoria as c
    </select>

    <select parameterType="map" id="consultarCategoria" resultMap="CategoriaResult">
        SELECT
            c.id as id,
            c.nombre as nombre,
            c.descripcion as descripcion,
            c.fechaCreacion as fCreacion ,
            c.estado as estado ,
            c.fechaModificacion as fModificacion
        FROM Categoria as c
        WHERE c.id = #{"id"};
    </select>

    <select parameterType="map" id="consultarCategoria" resultMap="categoriaResult">
        SELECT
            c.id as id,
            c.nombre as nombre,
            c.descripcion as descripcion,
            c.fechaCreacion as fCreacion ,
            c.estado as estado, 
            c.fechaModificacion as fModificacion
        FROM Categoria as c
        WHERE c.nombre = #{"nombre"};
       </select>
    
    <insert id="agregarCategoria">
            INSERT INTO Categoria (id,nombre,descripcion,fechaCreacion,estado)
            VALUES (#{id},#{nombre},#{descripcion},CURRENT_TIMESTAMP,#{estado});
    </insert>
    
    <update id="modificarCategoria">
        UPDATE Categoria as c SET
            c.nombre = #{nombre},
            c.descripcion = #{despcripcion},
            c.estado = #{estado},
            c.fechaModificacion = CURRENT_TIMESTAMP
        WHERE c.id = #{id};
    </update>
    <delete id = "borrarCategoria">
    	DELETE FROM Categoria as c
    	WHERE c.id = #{id};
    </delete>

    <resultMap type = "Categoria" id="CategoriaResult">
        <id property="id" column="id"/>
        <result property="nombre" column="nombre"/>
        <result property="descripcion" column="descripcion"/>
        <result property="fechaCreacion" column="fCreacion"/>
        <result property="estado" column="estado"/>
        <result property="fechaModificacion" column="fModificacion"/>
    </resultMap>

</mapper>